html {
  font-family: "Brockmann", sans-serif;
  font-size: 14px;
  font-weight: 500;
}

#root {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.ant-input {
  height: 44px;
}

.ant-input-number {
  width: 100%;

  .ant-input-number-input {
    height: 44px;
  }
}

.ant-select {
  height: 44px;
  width: 100%;
}

.ant-menu {
  border-inline-end: none !important;
}
